body {
	background: #dcdcdc;
}

#hello_dialog {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

#hello_dialog h1 {
	font-family: Arial;
	font-weight: none;
	font-size: 14pt;
	color: gray;
}

#hello_dialog label {
	font-size: 10pt;
}

#helper sup {
	font-size: 10pt;
	color: gray;
}
