body {
	background: #fffaf0;
}

a {
	color: #1E90FF;
}

button {
	border: solid;
	border-width: 1px;
	position: relative;
}

input {
	border: solid;
	border-width: 1px;
}

table {
	margin: auto;
	text-align: center;
}

thead {
	font-weight: bold;
}

tr.active {
	background: #FFD700;
	border-color: #FFD700;
	border: solid;
}

.frame1_fat {
	background: #F5F5DC;
	display: inline-block;
   	padding-left: 1px;
   	padding-right: 1px;
	margin-top: 2px;
}

.frame1_slim {
	background: inherit;
   	display: inline-block;
   	padding-top: 2px;
   	padding-bottom: 2px;
   	margin-top: -1px;
   	margin-bottom: -1px;
}


.frame2_fat {
	background: #B0E0E6;
   	display: inline-block;
   	padding-left: 2px;
   	padding-right: 2px;
   	margin-left: -1px;
   	margin-right: -1px;
}

.frame2_slim {
	background: inherit;
	margin-top: -2px;
   	margin-bottom: -2px;
   	padding-top: 1px;
   	padding-bottom: 1px;
}

.frame3_fat {
	background: #ADD8E6;
   	display: inline-block;
   	margin-left: -1px;
   	margin-right: -1px;
   	padding-left: 2px;
   	padding-right: 2px;
}
	
.frame3_slim {
	background: inherit;
   	margin-bottom: -1px;
   	margin-top: -1px;
   	padding-top: 3px;
   	padding-bottom: 3px;
   	display: inline-block;
}

.frame_container {
	background: inherit;
   	margin-left: -3px;
   	margin-right: -3px;
	padding: 10px;
}

.shadow {
	background: gray;
	display: inline-block;
	padding-right: 1px;
	padding-bottom: 1px;
}

#auth {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

#title {
	font-family: arial;
	font-size: 14pt;
	font-weight: bold;
	color: #4B0082;
	margin-bottom: 10px;
}

#auth label {
	font-size: 10pt;
	font-family: courier new;
	font-weight: bold;
}


#page {
	text-align: center;
	font-family: arial;
	font-size: 10pt;
	margin-top: 20px;
}

#game_list_content {
	padding-top: 2px;
	margin-right: 5px;
}

#game_users_content {
	padding-top: 2px;
}

div.ingame {
	padding: 5px;
}

#users_content {
	padding-top: 2px;
}

#users {
	word-spacing: 5px;
}
